.favorite-button {
  position: absolute;
  top: 18px;
  right: 18px;
  background: transparent;
  border: none;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  font-size: 60px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.3s ease;

}

.favorite-button:hover {
  transform: scale(1.1);
}
