.pagination {
    max-width: 1440px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    margin-top: 2rem;
  }
  
  .pagination button {
    padding: 0.5rem 1rem;
    border: none;
    background-color: #282c34;
    color: white;
    border-radius: 8px;
    cursor: pointer;
  }
  
  .pagination button:disabled {
    background-color: #888;
    cursor: not-allowed;
  }